/* RocketMissions.css */
.rocket-missions {
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

svg {
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

circle {
  cursor: pointer;
  transition: r 0.2s;
}

circle:hover {
  stroke: #000;
  stroke-width: 2;
}

.clickable {
  cursor: pointer;
  transition: transform 0.2s;
}

.clickable:hover {
  transform: scale(1.1);
}

.slider-container {
  margin-bottom: 0px;
  display: flex;
  align-items: center;
  top: 1000px;
}

.year-range {
  font-size: 16px;
  margin: 0 10px;
  color: #333;
}

.hover-info {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  z-index: 10;
}

.hover-info h3 {
  margin-top: 0;
}
.filter-and-controls {
  display: flex;
  align-items: flex-start; /* Align items to the top */
  margin-bottom: 20px;
}

.button-group {
  margin-bottom: 20px;
}

.button-group button {
  background-color: #ccc;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px !important;
  margin: 4px 2px!important;;
  cursor: pointer;
  border-radius: 12px;
  position: relative; 
}

.button-group button.active {
  background-color: #4CAF50;
}

.button-group button:hover {
  background-color: #45a049;
}

.back-button {
  background-color: #ccc;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-flex; /* Changed to inline-flex to align items */
  align-items: center; /* Center align items */
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  transition: background-color 0.3s, color 0.3s;
  position: relative; 
}

.back-button i {
  transition: color 0.3s;
}

.back-button:hover {
  background-color: #45a049;
  color: white; /* Ensure text color remains white */
}

.back-button:hover i {
  color: #ff0000; /* Change icon color to red on hover */
}

.back-button:disabled {
  background-color: #e0e0e0;
  cursor: not-allowed;
}



.slider .thumb.active {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.slider .track-0 {
  background: lightgray;
  position: absolute;
  height: 10px;
  top: 0;
  border-radius: 5px;
}

.slider .track-1 {
  background: green;
  position: absolute;
  height: 10px;
  top: 0;
  border-radius: 5px;
}

.slider .track-2 {
  background: lightgray;
  position: absolute;
  height: 10px;
  top: 0;
  border-radius: 5px;
}
.intro-text {
  font-size: 18px;
  margin-bottom: 20px;
  color: #555;
  text-align: center;
  line-height: 1.6;
}

.view-description {
  font-size: 16px;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
  line-height: 1.6;
}
