*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Jost', sans-serif;
}
body {
    background: #333;
}
.width-limited {
	max-width: 55rem;
	margin-left: auto;
	margin-right: auto;
}
a {
	color: rgb(255, 255, 255);
	text-decoration: none;
}
nav {
	width: 100%;

	padding-top: 1rem;
	padding-bottom: 1rem;
}

nav a {
	font-weight: bold;
	font-family: 'Courier New', Courier, monospace;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
}
nav li {
	position: relative;
	justify-content: center;
	margin-right: 5.1rem;
	
}

h1 {
    text-align: center;
    padding: 40px 0;
    color: #f1f1f1;
	text-shadow: #000 2px 2px 2px;
}
.title-row {
	position: relative;
	width: 100%;

	padding-top: 5rem;
	padding-bottom: 5rem;

	background-image: url(background2-space.jpg);
	opacity: 0.7;
	background-size: cover;
	justify-content: center;
	align-items: center;
	background-position: center;
	
}
.main-title {
	color: #f1f1f1;
	font-family: 'Courier New', Courier, monospace;
	font-size: 3rem;
	font-weight: 700;
	text-align: center;
	opacity: 1;
}
.moon-race{
	background-image: url(moon.webp);
	background-position: center;
	background-size: 50%;
	background-size: cover;
}
.box-timeline {
    width: 100%;
    height: 1500px;
    background: #f1f1f1;
    position: relative;
    padding: 80px 0 250px 0;
    margin-bottom: 100px;
}

.ligne {
    height: 1000px;
    width: 8px;
    margin: 0 auto;
    background: #333;
}

.rond {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #333;
    position: absolute;
    border: 1px solid #000;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}
/* 1000 - 160 + 80 / 3 =~ 306 */
.r1{top: 80px;}
.r2{top: 386px;}
.r3{top: 692px;}
.r4{top: 1000px;}

.box {
    color: #333;
    width: 400px;
    min-height: 200px;
    padding: 20px;
    border-radius: 3px;
    height: auto;
    background: #f1f1f1;
    box-shadow: 0 10px 15px rgba(0,0,0,0.5);
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.b1 {
    top: 80px;
    left: calc(50% - 270px);
}
.b2 {
    top: 386px;
    left: calc(50% + 270px);
}
.b3 {
    top: 692px;
    left: calc(50% - 270px);
}
.b4 {
    top: 1000px;
    left: calc(50% + 270px);
}

.box p {
    line-height: 20px;
    font-size: 18px;
    margin: 10px 0 20px 0;
}
.btn {
    display: block;
    background: midnightblue;
    padding: 10px;
    width: 120px;
    text-align: center;
    color: #f1f1f1;
    text-decoration: none;
    border-radius: 3px;
    margin-top: 10px;
}

@media screen and (max-width: 1000px) {

    .ligne {
        position: relative;
        left: 200px;
    }
    .rond {
        left: calc(50% + 200px);
    }
    .box {
        left: calc(50% - 50px)
    }

}